<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-sm-4 col-lg-3">
      <img class="img-fluid rounded" src="http://35.198.82.252{{artist.image.url}}" alt="{{artist.name}}">
    </div>
    <div class="col-sm-8 col-lg-4">
      <h5 class="mt-3 mt-sm-0 mb-0">{{artist.name}} is Daniel #{{artist.id}}</h5><br>
      <h6 class="mt-0">About {{artist.name}}:</h6>
      <p class="mt-0">{{artist.story}}</p>
      <h6 class="mt-0">Picture info:</h6>
      <p class="mt-0">
        <li>{{artist.image.name}}</li>
        <li>File type: {{artist.image.ext}}</li>
        <li>Size: {{artist.image.size}}</li>
      </p>
    </div>
  </div>
</div>
<!-- artistdetails -->